<h2>STH</h2>
<div>
<input id="to-do-input" type="text" placeholder="Ass"></input>
</div>
<div>
<ul id="to-do-list"></ul>
</div>

<%= javascript_include_tag "main.dart.js" %>
<%= javascript_include_tag "dart" %>
