<h2>STH</h2>
<!-- <div>
<input id="to-do-input" type="text" placeholder="Ass"></input>
</div>
<div>
<ul id="to-do-list"></ul>
</div> -->

<button id="show-all" type="button">Show ALL</button>

<div>
<input id="thing-input" type="text" placeholder="1234567"></input>
</div>

<div>
<ul id="things"></ul>
</div>

<button id="clear" type="button">Clear All</button>

<%= javascript_include_tag "main.dart.js" %>
<%= javascript_include_tag "dart" %>
